.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.spacer30 {
  height: 30px;
}
.spacer10 {
  height: 10px;
}

.h.nav.search {
  border: none;
  line-height: inherit;
  height: inherit;
  vertical-align: middle;
}

.h.additional-info tr td:first-child {
  padding-right: 20px;
  font-weight: bold;
}
.h.additional-info tr td {
  padding-bottom: 5px;
}
i.h.score {
  cursor: pointer;
}

.h.it {
  font-style: italic;
}
.h.no-margin {
  margin:0;
}
li.h.tag {
  margin-right:5px;
}
li.h.tag a {
  margin-bottom: 5px;
}
li.h.tag span, li.h.tag span:hover {
  background: none;
  font: inherit;
  margin: 0;
  padding: 0;
  top: 0;
  text-transform: none;
  border: none;
}
.h.tags {
  text-align: left;
  vertical-align: middle;
}
.h.input-tag {
  width: 100px;
  display: inline-block;
}
